:root {
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to bottom, #72cde2 0%, #768dc7 53%, #B7B7B7 100%, #648AE8 100%);
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-size: large;
}